// Color palette from https://www.google.com/design/spec/style/color.html
// Based on material/_color-definitions.scss, but we use slightly different naming

@import "material/color-definitions";

$Red-50: unquote("rgb(#{$palette-red-50})");
$Red-100: unquote("rgb(#{$palette-red-100})");
$Red-200: unquote("rgb(#{$palette-red-200})");
$Red-300: unquote("rgb(#{$palette-red-300})");
$Red-400: unquote("rgb(#{$palette-red-400})");
$Red-500: unquote("rgb(#{$palette-red-500})");
$Red-600: unquote("rgb(#{$palette-red-600})");
$Red-700: unquote("rgb(#{$palette-red-700})");
$Red-800: unquote("rgb(#{$palette-red-800})");
$Red-900: unquote("rgb(#{$palette-red-900})");
$Red-A100: unquote("rgb(#{$palette-red-A100})");
$Red-A200: unquote("rgb(#{$palette-red-A200})");
$Red-A400: unquote("rgb(#{$palette-red-A400})");
$Red-A700: unquote("rgb(#{$palette-red-A700})");

$Pink-50: unquote("rgb(#{$palette-pink-50})");
$Pink-100: unquote("rgb(#{$palette-pink-100})");
$Pink-200: unquote("rgb(#{$palette-pink-200})");
$Pink-300: unquote("rgb(#{$palette-pink-300})");
$Pink-400: unquote("rgb(#{$palette-pink-400})");
$Pink-500: unquote("rgb(#{$palette-pink-500})");
$Pink-600: unquote("rgb(#{$palette-pink-600})");
$Pink-700: unquote("rgb(#{$palette-pink-700})");
$Pink-800: unquote("rgb(#{$palette-pink-800})");
$Pink-900: unquote("rgb(#{$palette-pink-900})");
$Pink-A100: unquote("rgb(#{$palette-pink-A100})");
$Pink-A200: unquote("rgb(#{$palette-pink-A200})");
$Pink-A400: unquote("rgb(#{$palette-pink-A400})");
$Pink-A700: unquote("rgb(#{$palette-pink-A700})");

$Purple-50: unquote("rgb(#{$palette-purple-50})");
$Purple-100: unquote("rgb(#{$palette-purple-100})");
$Purple-200: unquote("rgb(#{$palette-purple-200})");
$Purple-300: unquote("rgb(#{$palette-purple-300})");
$Purple-400: unquote("rgb(#{$palette-purple-400})");
$Purple-500: unquote("rgb(#{$palette-purple-500})");
$Purple-600: unquote("rgb(#{$palette-purple-600})");
$Purple-700: unquote("rgb(#{$palette-purple-700})");
$Purple-800: unquote("rgb(#{$palette-purple-800})");
$Purple-900: unquote("rgb(#{$palette-purple-900})");
$Purple-A100: unquote("rgb(#{$palette-purple-A100})");
$Purple-A200: unquote("rgb(#{$palette-purple-A200})");
$Purple-A400: unquote("rgb(#{$palette-purple-A400})");
$Purple-A700: unquote("rgb(#{$palette-purple-A700})");

$DeepPurple-50: unquote("rgb(#{$palette-deep-purple-50})");
$DeepPurple-100: unquote("rgb(#{$palette-deep-purple-100})");
$DeepPurple-200: unquote("rgb(#{$palette-deep-purple-200})");
$DeepPurple-300: unquote("rgb(#{$palette-deep-purple-300})");
$DeepPurple-400: unquote("rgb(#{$palette-deep-purple-400})");
$DeepPurple-500: unquote("rgb(#{$palette-deep-purple-500})");
$DeepPurple-600: unquote("rgb(#{$palette-deep-purple-600})");
$DeepPurple-700: unquote("rgb(#{$palette-deep-purple-700})");
$DeepPurple-800: unquote("rgb(#{$palette-deep-purple-800})");
$DeepPurple-900: unquote("rgb(#{$palette-deep-purple-900})");
$DeepPurple-A100: unquote("rgb(#{$palette-deep-purple-A100})");
$DeepPurple-A200: unquote("rgb(#{$palette-deep-purple-A200})");
$DeepPurple-A400: unquote("rgb(#{$palette-deep-purple-A400})");
$DeepPurple-A700: unquote("rgb(#{$palette-deep-purple-A700})");

$Indigo-50: unquote("rgb(#{$palette-indigo-50})");
$Indigo-100: unquote("rgb(#{$palette-indigo-100})");
$Indigo-200: unquote("rgb(#{$palette-indigo-200})");
$Indigo-300: unquote("rgb(#{$palette-indigo-300})");
$Indigo-400: unquote("rgb(#{$palette-indigo-400})");
$Indigo-500: unquote("rgb(#{$palette-indigo-500})");
$Indigo-600: unquote("rgb(#{$palette-indigo-600})");
$Indigo-700: unquote("rgb(#{$palette-indigo-700})");
$Indigo-800: unquote("rgb(#{$palette-indigo-800})");
$Indigo-900: unquote("rgb(#{$palette-indigo-900})");
$Indigo-A100: unquote("rgb(#{$palette-indigo-A100})");
$Indigo-A200: unquote("rgb(#{$palette-indigo-A200})");
$Indigo-A400: unquote("rgb(#{$palette-indigo-A400})");
$Indigo-A700: unquote("rgb(#{$palette-indigo-A700})");

$Blue-50: unquote("rgb(#{$palette-blue-50})");
$Blue-100: unquote("rgb(#{$palette-blue-100})");
$Blue-200: unquote("rgb(#{$palette-blue-200})");
$Blue-300: unquote("rgb(#{$palette-blue-300})");
$Blue-400: unquote("rgb(#{$palette-blue-400})");
$Blue-500: unquote("rgb(#{$palette-blue-500})");
$Blue-600: unquote("rgb(#{$palette-blue-600})");
$Blue-700: unquote("rgb(#{$palette-blue-700})");
$Blue-800: unquote("rgb(#{$palette-blue-800})");
$Blue-900: unquote("rgb(#{$palette-blue-900})");
$Blue-A100: unquote("rgb(#{$palette-blue-A100})");
$Blue-A200: unquote("rgb(#{$palette-blue-A200})");
$Blue-A400: unquote("rgb(#{$palette-blue-A400})");
$Blue-A700: unquote("rgb(#{$palette-blue-A700})");

$LightBlue-50: unquote("rgb(#{$palette-light-blue-50})");
$LightBlue-100: unquote("rgb(#{$palette-light-blue-100})");
$LightBlue-200: unquote("rgb(#{$palette-light-blue-200})");
$LightBlue-300: unquote("rgb(#{$palette-light-blue-300})");
$LightBlue-400: unquote("rgb(#{$palette-light-blue-400})");
$LightBlue-500: unquote("rgb(#{$palette-light-blue-500})");
$LightBlue-600: unquote("rgb(#{$palette-light-blue-600})");
$LightBlue-700: unquote("rgb(#{$palette-light-blue-700})");
$LightBlue-800: unquote("rgb(#{$palette-light-blue-800})");
$LightBlue-900: unquote("rgb(#{$palette-light-blue-900})");
$LightBlue-A100: unquote("rgb(#{$palette-light-blue-A100})");
$LightBlue-A200: unquote("rgb(#{$palette-light-blue-A200})");
$LightBlue-A400: unquote("rgb(#{$palette-light-blue-A400})");
$LightBlue-A700: unquote("rgb(#{$palette-light-blue-A700})");

$Cyan-50: unquote("rgb(#{$palette-cyan-50})");
$Cyan-100: unquote("rgb(#{$palette-cyan-100})");
$Cyan-200: unquote("rgb(#{$palette-cyan-200})");
$Cyan-300: unquote("rgb(#{$palette-cyan-300})");
$Cyan-400: unquote("rgb(#{$palette-cyan-400})");
$Cyan-500: unquote("rgb(#{$palette-cyan-500})");
$Cyan-600: unquote("rgb(#{$palette-cyan-600})");
$Cyan-700: unquote("rgb(#{$palette-cyan-700})");
$Cyan-800: unquote("rgb(#{$palette-cyan-800})");
$Cyan-900: unquote("rgb(#{$palette-cyan-900})");
$Cyan-A100: unquote("rgb(#{$palette-cyan-A100})");
$Cyan-A200: unquote("rgb(#{$palette-cyan-A200})");
$Cyan-A400: unquote("rgb(#{$palette-cyan-A400})");
$Cyan-A700: unquote("rgb(#{$palette-cyan-A700})");

$Teal-50: unquote("rgb(#{$palette-teal-50})");
$Teal-100: unquote("rgb(#{$palette-teal-100})");
$Teal-200: unquote("rgb(#{$palette-teal-200})");
$Teal-300: unquote("rgb(#{$palette-teal-300})");
$Teal-400: unquote("rgb(#{$palette-teal-400})");
$Teal-500: unquote("rgb(#{$palette-teal-500})");
$Teal-600: unquote("rgb(#{$palette-teal-600})");
$Teal-700: unquote("rgb(#{$palette-teal-700})");
$Teal-800: unquote("rgb(#{$palette-teal-800})");
$Teal-900: unquote("rgb(#{$palette-teal-900})");
$Teal-A100: unquote("rgb(#{$palette-teal-A100})");
$Teal-A200: unquote("rgb(#{$palette-teal-A200})");
$Teal-A400: unquote("rgb(#{$palette-teal-A400})");
$Teal-A700: unquote("rgb(#{$palette-teal-A700})");

$Green-50: unquote("rgb(#{$palette-green-50})");
$Green-100: unquote("rgb(#{$palette-green-100})");
$Green-200: unquote("rgb(#{$palette-green-200})");
$Green-300: unquote("rgb(#{$palette-green-300})");
$Green-400: unquote("rgb(#{$palette-green-400})");
$Green-500: unquote("rgb(#{$palette-green-500})");
$Green-600: unquote("rgb(#{$palette-green-600})");
$Green-700: unquote("rgb(#{$palette-green-700})");
$Green-800: unquote("rgb(#{$palette-green-800})");
$Green-900: unquote("rgb(#{$palette-green-900})");
$Green-A100: unquote("rgb(#{$palette-green-A100})");
$Green-A200: unquote("rgb(#{$palette-green-A200})");
$Green-A400: unquote("rgb(#{$palette-green-A400})");
$Green-A700: unquote("rgb(#{$palette-green-A700})");

$LightGreen-50: unquote("rgb(#{$palette-light-green-50})");
$LightGreen-100: unquote("rgb(#{$palette-light-green-100})");
$LightGreen-200: unquote("rgb(#{$palette-light-green-200})");
$LightGreen-300: unquote("rgb(#{$palette-light-green-300})");
$LightGreen-400: unquote("rgb(#{$palette-light-green-400})");
$LightGreen-500: unquote("rgb(#{$palette-light-green-500})");
$LightGreen-600: unquote("rgb(#{$palette-light-green-600})");
$LightGreen-700: unquote("rgb(#{$palette-light-green-700})");
$LightGreen-800: unquote("rgb(#{$palette-light-green-800})");
$LightGreen-900: unquote("rgb(#{$palette-light-green-900})");
$LightGreen-A100: unquote("rgb(#{$palette-light-green-A100})");
$LightGreen-A200: unquote("rgb(#{$palette-light-green-A200})");
$LightGreen-A400: unquote("rgb(#{$palette-light-green-A400})");
$LightGreen-A700: unquote("rgb(#{$palette-light-green-A700})");

$Lime-50: unquote("rgb(#{$palette-lime-50})");
$Lime-100: unquote("rgb(#{$palette-lime-100})");
$Lime-200: unquote("rgb(#{$palette-lime-200})");
$Lime-300: unquote("rgb(#{$palette-lime-300})");
$Lime-400: unquote("rgb(#{$palette-lime-400})");
$Lime-500: unquote("rgb(#{$palette-lime-500})");
$Lime-600: unquote("rgb(#{$palette-lime-600})");
$Lime-700: unquote("rgb(#{$palette-lime-700})");
$Lime-800: unquote("rgb(#{$palette-lime-800})");
$Lime-900: unquote("rgb(#{$palette-lime-900})");
$Lime-A100: unquote("rgb(#{$palette-lime-A100})");
$Lime-A200: unquote("rgb(#{$palette-lime-A200})");
$Lime-A400: unquote("rgb(#{$palette-lime-A400})");
$Lime-A700: unquote("rgb(#{$palette-lime-A700})");

$Yellow-50: unquote("rgb(#{$palette-yellow-50})");
$Yellow-100: unquote("rgb(#{$palette-yellow-100})");
$Yellow-200: unquote("rgb(#{$palette-yellow-200})");
$Yellow-300: unquote("rgb(#{$palette-yellow-300})");
$Yellow-400: unquote("rgb(#{$palette-yellow-400})");
$Yellow-500: unquote("rgb(#{$palette-yellow-500})");
$Yellow-600: unquote("rgb(#{$palette-yellow-600})");
$Yellow-700: unquote("rgb(#{$palette-yellow-700})");
$Yellow-800: unquote("rgb(#{$palette-yellow-800})");
$Yellow-900: unquote("rgb(#{$palette-yellow-900})");
$Yellow-A100: unquote("rgb(#{$palette-yellow-A100})");
$Yellow-A200: unquote("rgb(#{$palette-yellow-A200})");
$Yellow-A400: unquote("rgb(#{$palette-yellow-A400})");
$Yellow-A700: unquote("rgb(#{$palette-yellow-A700})");

$Amber-50: unquote("rgb(#{$palette-amber-50})");
$Amber-100: unquote("rgb(#{$palette-amber-100})");
$Amber-200: unquote("rgb(#{$palette-amber-200})");
$Amber-300: unquote("rgb(#{$palette-amber-300})");
$Amber-400: unquote("rgb(#{$palette-amber-400})");
$Amber-500: unquote("rgb(#{$palette-amber-500})");
$Amber-600: unquote("rgb(#{$palette-amber-600})");
$Amber-700: unquote("rgb(#{$palette-amber-700})");
$Amber-800: unquote("rgb(#{$palette-amber-800})");
$Amber-900: unquote("rgb(#{$palette-amber-900})");
$Amber-A100: unquote("rgb(#{$palette-amber-A100})");
$Amber-A200: unquote("rgb(#{$palette-amber-A200})");
$Amber-A400: unquote("rgb(#{$palette-amber-A400})");
$Amber-A700: unquote("rgb(#{$palette-amber-A700})");

$Orange-50: unquote("rgb(#{$palette-orange-50})");
$Orange-100: unquote("rgb(#{$palette-orange-100})");
$Orange-200: unquote("rgb(#{$palette-orange-200})");
$Orange-300: unquote("rgb(#{$palette-orange-300})");
$Orange-400: unquote("rgb(#{$palette-orange-400})");
$Orange-500: unquote("rgb(#{$palette-orange-500})");
$Orange-600: unquote("rgb(#{$palette-orange-600})");
$Orange-700: unquote("rgb(#{$palette-orange-700})");
$Orange-800: unquote("rgb(#{$palette-orange-800})");
$Orange-900: unquote("rgb(#{$palette-orange-900})");
$Orange-A100: unquote("rgb(#{$palette-orange-A100})");
$Orange-A200: unquote("rgb(#{$palette-orange-A200})");
$Orange-A400: unquote("rgb(#{$palette-orange-A400})");
$Orange-A700: unquote("rgb(#{$palette-orange-A700})");

$DeepOrange-50: unquote("rgb(#{$palette-deep-orange-50})");
$DeepOrange-100: unquote("rgb(#{$palette-deep-orange-100})");
$DeepOrange-200: unquote("rgb(#{$palette-deep-orange-200})");
$DeepOrange-300: unquote("rgb(#{$palette-deep-orange-300})");
$DeepOrange-400: unquote("rgb(#{$palette-deep-orange-400})");
$DeepOrange-500: unquote("rgb(#{$palette-deep-orange-500})");
$DeepOrange-600: unquote("rgb(#{$palette-deep-orange-600})");
$DeepOrange-700: unquote("rgb(#{$palette-deep-orange-700})");
$DeepOrange-800: unquote("rgb(#{$palette-deep-orange-800})");
$DeepOrange-900: unquote("rgb(#{$palette-deep-orange-900})");
$DeepOrange-A100: unquote("rgb(#{$palette-deep-orange-A100})");
$DeepOrange-A200: unquote("rgb(#{$palette-deep-orange-A200})");
$DeepOrange-A400: unquote("rgb(#{$palette-deep-orange-A400})");
$DeepOrange-A700: unquote("rgb(#{$palette-deep-orange-A700})");

$Brown-50: unquote("rgb(#{$palette-brown-50})");
$Brown-100: unquote("rgb(#{$palette-brown-100})");
$Brown-200: unquote("rgb(#{$palette-brown-200})");
$Brown-300: unquote("rgb(#{$palette-brown-300})");
$Brown-400: unquote("rgb(#{$palette-brown-400})");
$Brown-500: unquote("rgb(#{$palette-brown-500})");
$Brown-600: unquote("rgb(#{$palette-brown-600})");
$Brown-700: unquote("rgb(#{$palette-brown-700})");
$Brown-800: unquote("rgb(#{$palette-brown-800})");
$Brown-900: unquote("rgb(#{$palette-brown-900})");

$Grey-50: unquote("rgb(#{$palette-grey-50})");
$Grey-100: unquote("rgb(#{$palette-grey-100})");
$Grey-200: unquote("rgb(#{$palette-grey-200})");
$Grey-300: unquote("rgb(#{$palette-grey-300})");
$Grey-400: unquote("rgb(#{$palette-grey-400})");
$Grey-500: unquote("rgb(#{$palette-grey-500})");
$Grey-600: unquote("rgb(#{$palette-grey-600})");
$Grey-700: unquote("rgb(#{$palette-grey-700})");
$Grey-800: unquote("rgb(#{$palette-grey-800})");
$Grey-900: unquote("rgb(#{$palette-grey-900})");

$BlueGrey-50: unquote("rgb(#{$palette-blue-grey-50})");
$BlueGrey-100: unquote("rgb(#{$palette-blue-grey-100})");
$BlueGrey-200: unquote("rgb(#{$palette-blue-grey-200})");
$BlueGrey-300: unquote("rgb(#{$palette-blue-grey-300})");
$BlueGrey-400: unquote("rgb(#{$palette-blue-grey-400})");
$BlueGrey-500: unquote("rgb(#{$palette-blue-grey-500})");
$BlueGrey-600: unquote("rgb(#{$palette-blue-grey-600})");
$BlueGrey-700: unquote("rgb(#{$palette-blue-grey-700})");
$BlueGrey-800: unquote("rgb(#{$palette-blue-grey-800})");
$BlueGrey-900: unquote("rgb(#{$palette-blue-grey-900})");

$Black: #000000;
$White: #FFFFFF;

// as a map for dynamic access
$material-design-colors: (
Red-50: $Red-50,
Red-100: $Red-100,
Red-200: $Red-200,
Red-300: $Red-300,
Red-400: $Red-400,
Red-500: $Red-500,
Red-600: $Red-600,
Red-700: $Red-700,
Red-800: $Red-800,
Red-900: $Red-900,
Red-A100: $Red-A100,
Red-A200: $Red-A200,
Red-A400: $Red-A400,
Red-A700: $Red-A700,

Pink-50: $Pink-50,
Pink-100: $Pink-100,
Pink-200: $Pink-200,
Pink-300: $Pink-300,
Pink-400: $Pink-400,
Pink-500: $Pink-500,
Pink-600: $Pink-600,
Pink-700: $Pink-700,
Pink-800: $Pink-800,
Pink-900: $Pink-900,
Pink-A100: $Pink-A100,
Pink-A200: $Pink-A200,
Pink-A400: $Pink-A400,
Pink-A700: $Pink-A700,

Purple-50: $Purple-50,
Purple-100: $Purple-100,
Purple-200: $Purple-200,
Purple-300: $Purple-300,
Purple-400: $Purple-400,
Purple-500: $Purple-500,
Purple-600: $Purple-600,
Purple-700: $Purple-700,
Purple-800: $Purple-800,
Purple-900: $Purple-900,
Purple-A100: $Purple-A100,
Purple-A200: $Purple-A200,
Purple-A400: $Purple-A400,
Purple-A700: $Purple-A700,

DeepPurple-50: $DeepPurple-50,
DeepPurple-100: $DeepPurple-100,
DeepPurple-200: $DeepPurple-200,
DeepPurple-300: $DeepPurple-300,
DeepPurple-400: $DeepPurple-400,
DeepPurple-500: $DeepPurple-500,
DeepPurple-600: $DeepPurple-600,
DeepPurple-700: $DeepPurple-700,
DeepPurple-800: $DeepPurple-800,
DeepPurple-900: $DeepPurple-900,
DeepPurple-A100: $DeepPurple-A100,
DeepPurple-A200: $DeepPurple-A200,
DeepPurple-A400: $DeepPurple-A400,
DeepPurple-A700: $DeepPurple-A700,

Indigo-50: $Indigo-50,
Indigo-100: $Indigo-100,
Indigo-200: $Indigo-200,
Indigo-300: $Indigo-300,
Indigo-400: $Indigo-400,
Indigo-500: $Indigo-500,
Indigo-600: $Indigo-600,
Indigo-700: $Indigo-700,
Indigo-800: $Indigo-800,
Indigo-900: $Indigo-900,
Indigo-A100: $Indigo-A100,
Indigo-A200: $Indigo-A200,
Indigo-A400: $Indigo-A400,
Indigo-A700: $Indigo-A700,

Blue-50: $Blue-50,
Blue-100: $Blue-100,
Blue-200: $Blue-200,
Blue-300: $Blue-300,
Blue-400: $Blue-400,
Blue-500: $Blue-500,
Blue-600: $Blue-600,
Blue-700: $Blue-700,
Blue-800: $Blue-800,
Blue-900: $Blue-900,
Blue-A100: $Blue-A100,
Blue-A200: $Blue-A200,
Blue-A400: $Blue-A400,
Blue-A700: $Blue-A700,

LightBlue-50: $LightBlue-50,
LightBlue-100: $LightBlue-100,
LightBlue-200: $LightBlue-200,
LightBlue-300: $LightBlue-300,
LightBlue-400: $LightBlue-400,
LightBlue-500: $LightBlue-500,
LightBlue-600: $LightBlue-600,
LightBlue-700: $LightBlue-700,
LightBlue-800: $LightBlue-800,
LightBlue-900: $LightBlue-900,
LightBlue-A100: $LightBlue-A100,
LightBlue-A200: $LightBlue-A200,
LightBlue-A400: $LightBlue-A400,
LightBlue-A700: $LightBlue-A700,

Cyan-50: $Cyan-50,
Cyan-100: $Cyan-100,
Cyan-200: $Cyan-200,
Cyan-300: $Cyan-300,
Cyan-400: $Cyan-400,
Cyan-500: $Cyan-500,
Cyan-600: $Cyan-600,
Cyan-700: $Cyan-700,
Cyan-800: $Cyan-800,
Cyan-900: $Cyan-900,
Cyan-A100: $Cyan-A100,
Cyan-A200: $Cyan-A200,
Cyan-A400: $Cyan-A400,
Cyan-A700: $Cyan-A700,

Teal-50: $Teal-50,
Teal-100: $Teal-100,
Teal-200: $Teal-200,
Teal-300: $Teal-300,
Teal-400: $Teal-400,
Teal-500: $Teal-500,
Teal-600: $Teal-600,
Teal-700: $Teal-700,
Teal-800: $Teal-800,
Teal-900: $Teal-900,
Teal-A100: $Teal-A100,
Teal-A200: $Teal-A200,
Teal-A400: $Teal-A400,
Teal-A700: $Teal-A700,

Green-50: $Green-50,
Green-100: $Green-100,
Green-200: $Green-200,
Green-300: $Green-300,
Green-400: $Green-400,
Green-500: $Green-500,
Green-600: $Green-600,
Green-700: $Green-700,
Green-800: $Green-800,
Green-900: $Green-900,
Green-A100: $Green-A100,
Green-A200: $Green-A200,
Green-A400: $Green-A400,
Green-A700: $Green-A700,

LightGreen-50: $LightGreen-50,
LightGreen-100: $LightGreen-100,
LightGreen-200: $LightGreen-200,
LightGreen-300: $LightGreen-300,
LightGreen-400: $LightGreen-400,
LightGreen-500: $LightGreen-500,
LightGreen-600: $LightGreen-600,
LightGreen-700: $LightGreen-700,
LightGreen-800: $LightGreen-800,
LightGreen-900: $LightGreen-900,
LightGreen-A100: $LightGreen-A100,
LightGreen-A200: $LightGreen-A200,
LightGreen-A400: $LightGreen-A400,
LightGreen-A700: $LightGreen-A700,

Lime-50: $Lime-50,
Lime-100: $Lime-100,
Lime-200: $Lime-200,
Lime-300: $Lime-300,
Lime-400: $Lime-400,
Lime-500: $Lime-500,
Lime-600: $Lime-600,
Lime-700: $Lime-700,
Lime-800: $Lime-800,
Lime-900: $Lime-900,
Lime-A100: $Lime-A100,
Lime-A200: $Lime-A200,
Lime-A400: $Lime-A400,
Lime-A700: $Lime-A700,

Yellow-50: $Yellow-50,
Yellow-100: $Yellow-100,
Yellow-200: $Yellow-200,
Yellow-300: $Yellow-300,
Yellow-400: $Yellow-400,
Yellow-500: $Yellow-500,
Yellow-600: $Yellow-600,
Yellow-700: $Yellow-700,
Yellow-800: $Yellow-800,
Yellow-900: $Yellow-900,
Yellow-A100: $Yellow-A100,
Yellow-A200: $Yellow-A200,
Yellow-A400: $Yellow-A400,
Yellow-A700: $Yellow-A700,

Amber-50: $Amber-50,
Amber-100: $Amber-100,
Amber-200: $Amber-200,
Amber-300: $Amber-300,
Amber-400: $Amber-400,
Amber-500: $Amber-500,
Amber-600: $Amber-600,
Amber-700: $Amber-700,
Amber-800: $Amber-800,
Amber-900: $Amber-900,
Amber-A100: $Amber-A100,
Amber-A200: $Amber-A200,
Amber-A400: $Amber-A400,
Amber-A700: $Amber-A700,

Orange-50: $Orange-50,
Orange-100: $Orange-100,
Orange-200: $Orange-200,
Orange-300: $Orange-300,
Orange-400: $Orange-400,
Orange-500: $Orange-500,
Orange-600: $Orange-600,
Orange-700: $Orange-700,
Orange-800: $Orange-800,
Orange-900: $Orange-900,
Orange-A100: $Orange-A100,
Orange-A200: $Orange-A200,
Orange-A400: $Orange-A400,
Orange-A700: $Orange-A700,

DeepOrange-50: $DeepOrange-50,
DeepOrange-100: $DeepOrange-100,
DeepOrange-200: $DeepOrange-200,
DeepOrange-300: $DeepOrange-300,
DeepOrange-400: $DeepOrange-400,
DeepOrange-500: $DeepOrange-500,
DeepOrange-600: $DeepOrange-600,
DeepOrange-700: $DeepOrange-700,
DeepOrange-800: $DeepOrange-800,
DeepOrange-900: $DeepOrange-900,
DeepOrange-A100: $DeepOrange-A100,
DeepOrange-A200: $DeepOrange-A200,
DeepOrange-A400: $DeepOrange-A400,
DeepOrange-A700: $DeepOrange-A700,

Brown-50: $Brown-50,
Brown-100: $Brown-100,
Brown-200: $Brown-200,
Brown-300: $Brown-300,
Brown-400: $Brown-400,
Brown-500: $Brown-500,
Brown-600: $Brown-600,
Brown-700: $Brown-700,
Brown-800: $Brown-800,
Brown-900: $Brown-900,

Grey-50: $Grey-50,
Grey-100: $Grey-100,
Grey-200: $Grey-200,
Grey-300: $Grey-300,
Grey-400: $Grey-400,
Grey-500: $Grey-500,
Grey-600: $Grey-600,
Grey-700: $Grey-700,
Grey-800: $Grey-800,
Grey-900: $Grey-900,

BlueGrey-50: $BlueGrey-50,
BlueGrey-100: $BlueGrey-100,
BlueGrey-200: $BlueGrey-200,
BlueGrey-300: $BlueGrey-300,
BlueGrey-400: $BlueGrey-400,
BlueGrey-500: $BlueGrey-500,
BlueGrey-600: $BlueGrey-600,
BlueGrey-700: $BlueGrey-700,
BlueGrey-800: $BlueGrey-800,
BlueGrey-900: $BlueGrey-900,

Black: $Black,
White: $White,
);